@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body{
    background-color: red;
}

body{
    background-color: white;
}

h2{
    color: white;
}

a {
    color: white;
    text-decoration: none; /* elimina subrayado */
}

header{
    display:flex; /* te doy la herramienta display y activo el flex. VA SI O SI */
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(27, 27, 197);
    padding: 20px 150px;
    box-shadow: 20px 0px 10px black; /* sombra del box */
}
nav {
    display: flex;
    gap: 60px; /* espaciado entre los hijos, no con los bordes (en el menu) */
}

.caja{
    width: 200px;
    height: 200px;
    background-color: darkolivegreen;
    border: 5px orange solid;
    border-top: 5px white dashed;
    border-radius: 5px;
    border-bottom-left-radius: 60px;
    margin: 40px 20px 50px 5px; /* arriba y abajo 50, a los costados 20 der y 5 izq */
    padding-left: 20px 10px;  /* margen del hola mundo arriba y abajo 20, derecha e izq 10*/
}